.clothes-form {
  min-height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 99;
  background-color: white;
  min-width: min(100vw, 390px);
  box-shadow: -10px 0px 30px -15px var(--navy-shadow);
  transform: translateX(0);
  transition: var(--transition);
  padding: 0.5rem;
  .close-btn {
    background-color: white !important;
    color: var(--dark-black) !important;
    font-size: 22px;
    position: absolute;
    right: 2%;
    top: 1%;
  }
  h3 {
    font-family: var(--font-sans);
    font-weight: bold;
    width: 100%;
    padding: .5rem 0.75rem;
    font-size: var(--fz-md);
  }
  .input-container{
    max-width: 100%;
  }
}
.open-form {
  transform: translateX(100%);
}
