.user-details {
  .users {
    max-width: 90%;
    margin: 0 auto;
    h3 {
      font-family: var(--font-sans);
      font-weight: bold;
      font-size: var(--fz-xxl);
      padding: 2rem 0;
    }
    .table-container {
      ::-webkit-scrollbar-thumb {
        background-color: var(--dark-slate);
        border: 3px solid var(--navy);
        border-radius: 10px;
      }
      ::-webkit-scrollbar {
        height: 0px; /* Adjust the height to make it thin and small */
      }
      ::-webkit-scrollbar-track {
        background: var(--navy);
      }
      ::selection {
        background-color: var(--lightest-navy);
        color: var(--lightest-slate);
      }
      width: 100%;
      overflow-x: auto; /* Add overflow-x property for horizontal scrolling */
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add box shadow */
      table {
        width: 100%;
        font-family: var(--font-sans);
        font-weight: bold;
        font-size: var(--fz-md);
        thead {
          tr {
            th {
              padding: 0.75rem 0.5rem;
              text-wrap: nowrap;
              white-space: nowrap;
              font-size: var(--fz-sm);
            }
          }
        }
        tbody {
          tr {
            td {
              padding: 0.5rem 0.25rem;
              text-wrap: nowrap;
              white-space: nowrap;
              text-align: center;
              border-bottom: 0.5px solid var(--light-gray);
              font-size: var(--fz-xs);
              font-family: var(--font-mono);
              button {
                background-color: var(--dark-black);
                color: white;
                font-family: var(--font-sans);
                padding: 5px 13px;
                border-radius: 3px;
                border: 0.5px solid var(--dark-black);
                transition: var(--transition);
                &:hover {
                    background-color: white;
                    color: var(--dark-black);
                }
              }
            }
          }
        }
      }
    }
  }
}
